@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.racao{
    margin-left: 2px;
    display:flex;
    align-items:auto;
    box-sizing:border-box;
    padding: 2px;
    text-align: center;

}
.imagem{
    margin-left: 250px;
    display:flex;
    align-items:auto;
    box-sizing:content-box;
    padding: 20px;
    text-align: center;

}
.promocao{
    height: 100px;
    width: 1000px;
    margin-left: 250px;
    display:flex;
    align-items:auto;
    font-family: 'Anton', sans-serif;
    box-sizing:content-box;
    background-color: aqua;
    padding: 20px;
    text-align: center;

}
footer{
    background-color: aqua;
}
.footerContainer{
    width: 100%;
    padding: 10px 10px 6px;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: azure;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons i{
        font-size: 2em;
        color: black;
        opacity: 0.9;
}
.socialIcons a:hover{
    background-color: black;
    transition: 0.5s

}
.socialIcons i:hover{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 10px 5px;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color: black;
    margin: 20px;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
    text-decoration: none;
}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerButtom{
    background-color: #1E90FF;
    padding: 20px;
    text-align: center;

}
.footerButtom p{
    color: white;
}
.Designed{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
.produto{
    height: 100px;
    width: 1000px;
    margin-left: 250px;
    display:flex;
    align-items:auto;
    box-sizing:border-box;
    padding: 10px;
    text-align: center;

}
.cadastro{
    height: 100px;
    width: 1000px;
    margin-left: 250px;
    display:flex;
    align-items:auto;
    box-sizing:border-box;
    padding: 10px;
    text-align: center; 

}